@charset "utf-8";
/* CSS Document */
/* Reset CSS
---------------------------------------------------*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}
/* End of Reset CSS
---------------------------------------------------*/
/* CSS 3
---------------------------------------------------*/
/* End of CSS 3
---------------------------------------------------*/
/* Standard CSS
---------------------------------------------------*/

body {
    font-size: 11px;
}
/***Hyperlinks****/

a {
    text-decoration: none;
}
a:hover,
a:focus {
    outline: none;
}
/* ** ** Header Styles ** ** */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
h1 {} h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
h3 {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    background: none;
}
h4 {} h5 {} h6 {}
/* ** ** ul li's ** ** */

ul {
    list-style: none;
}
ul,
ol {
    margin: 0;
    padding: 0;
    float: left;
}
li ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
/*----------- Label----------*/
/* ** ** paragraph styling ** ** */

p {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    float: left;
    color: #231f20;
}
/* end of Standard CSS
---------------------------------------------------*/
/* Standard CSS Class Name
---------------------------------------------------*/

body {
    background: url(../img/background1.jpg) no-repeat;
    background-size: cover;
}
.main-con {
    width: 100%;
    height: auto;
}
.tp-60 {
    margin-top: 60px;
}
a.acc-link {
    background: #22a6e3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 37px;
    line-height: 37px;
    padding: 0px 9%;
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
}
.acc-link span {
    padding-right: 8px;
    float: left;
    padding-top: 3px;
}
a.sign-link1 {
    background: #0b95d5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 37px;
    line-height: 37px;
    padding: 0px 9%;
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    margin-left: -3px;
}
.sign-link1 span {
    padding-right: 8px;
    float: left;
    padding-top: 2px;
}
.navbar-text {
    width: 28%;
}
.header {
    width: 100%;
    float: left;
    height: auto;
}
.breadcrum {
    width: 100%;
    float: left;
    height: auto;
    margin-top: 37px;
}
.breadcrum ul {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}
.breadcrum ul li {
    display: inline;
    padding: 0px 2% 0px 1%;
    background: url(../img/drop-down.png) no-repeat right;
}
.breadcrum ul li a,
.breadcrum ul li {
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.breadcrum ul li a:hover,
.breadcrum ul li a.active {
    color: #16a1e2;
}
.breadcrum ul li:first-child {
    background: url(../img/round.png) no-repeat right;
}
.middle {
    width: 100%;
    float: left;
    height: auto;
}
.match-con {
    width: 100%;
    float: left;
    height: auto;
    margin-top: 60px;
    margin-bottom: 130px;
}
.match-tour {
    width: 100%;
    float: left;
    height: auto;
}
.match-tour h2 {
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px;
    border-color: rgb( 96, 198, 245);
    background: #22a6e3;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #22a6e3 0%, #16a1e2 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #22a6e3), color-stop(100%, #16a1e2));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #22a6e3 0%, #16a1e2 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #22a6e3 0%, #16a1e2 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #22a6e3 0%, #16a1e2 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #22a6e3 0%, #16a1e2 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#22a6e3', endColorstr='#16a1e2', GradientType=0);
    /* IE6-9 */
    
    height: 37px;
    line-height: 37px;
    -webkit-box-shadow: inset 0 2px 1px #55c2f4;
    -moz-box-shadow: inset 0 2px 1px #55c2f4;
    box-shadow: inset 0 2px 1px #55c2f4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding-left: 3%;
    text-transform: uppercase;
}
.match-tour h2 span {
    float: left;
    padding-right: 9px;
    padding-top: 1px;
}
.match-tour-inn {
    width: 99.5%;
    float: left;
    height: 100%;
    border: 1px solid #595959;
    border-top: none;
}
.match-tour-inn3 {
    width: 99%;
    float: left;
    height: 100%;
    border: 1px solid #595959;
    border-top: none;
    margin-top: -4px;
}
.match-tour-inn2 {
    width: 99%;
    float: left;
    height: 100%;
    border: 1px solid #595959;
    border-top: none;
    margin-top: -4px;
}
.heading {
    float: left;
    width: 94%;
    background: #363636;
    border-top: 1px dashed #818181;
    border-bottom: 1px dashed #818181;
    padding-left: 6%;
    text-transform: capitalize;
}
.heading1 {
    float: left;
    width: 85%;
    background: #363636;
    border-top: 1px dashed #818181;
    border-bottom: 1px dashed #818181;
    padding-left: 5%;
    padding-right: 10%;
    text-transform: capitalize;
}
.heading-tour {
    float: left;
    width: 87%;
    border-top: 1px solid #818181;
    padding-left: 3%;
    padding-right: 10%;
    text-transform: capitalize;
}
.heading h3,
.heading1 h3 {
    float: left;
    font-size: 14px;
    color: #cdcdcd;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: auto;
    line-height: 31px;
}
.match-rt span {
    float: left;
    padding-right: 10px;
    padding-top: 2px;
}
.btn-mat {
    text-align: center;
    width: 100%;
}
.mach1 > a {
    color: #FFFFFF;
    text-decoration: none;
}
.chaleng-time:hover {
    background: none repeat scroll 0 0 #1A1A1A;
}
.heading1 span {
    padding-right: 10px;
}
.heading label {
    float: left;
    font-size: 12px;
    color: #cdcdcd;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 5px;
}
.heading-left {
    float: left;
    width: 33%;
    height: auto;
}
.heading-right {
    float: left;
    width: 57%;
    height: auto;
}
.heading-mid {
    float: left;
    width: 10%;
    height: auto;
}
.heading-left h3,
.heading-right h3 {
    float: left;
    font-size: 13px;
    color: #cdcdcd;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: auto;
    line-height: 31px;
    width: 100%;
}
.heading > p,
.heading1 > p {
    float: right;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 10px;
    line-height: 13px;
}
.date-con {
    border-bottom: 1px solid #595959;
    float: left;
    width: 100%;
}
.bdr-nt {
    border-bottom: none !important;
}
.date-con ul {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}
.single-icon,
.info-icon,
.tm-icon {
    float: left;
    padding-right: 10px;
    padding-top: 3px;
}
.mach {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 0% 5px 5%;
    border-right: 1px solid #595959;
    width: 16%;
}
.mach1-con {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 0% 5px 5%;
    border-right: 1px solid #595959;
    width: 34%;
}
.mach2-con {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 0% 5px 5%;
    width: 34%;
}
.mach1 {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 0% 5px 5%;
    border-right: 1px solid #595959;
    width: 34%;
}
.mach2 {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    padding: 2px 0% 2px 5%;
    width: 27%;
}
.date-con ul li:last-child {
    border-bottom: none;
}
.date-con ul li span {
    padding-right: 12px;
    float: left;
    padding-top: 1px;
}
.info {
    width: 37%;
    border-right: 1px solid #595959;
    float: left;
}
.info ul,
.time-con ul,
.match-time ul {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}
.info ul li {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
    padding: 3px 0px 3px %;
    border-bottom: 1px solid #595959;
}
.info ul li:last-child {
    border-bottom: none;
}
.info ul li span {
    padding-right: 12px;
    float: left;
    padding-top: 1px;
}
.time-con {
    width: 37%;
    float: left;
}
.time-con ul li {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
    padding: 3px 0px 3px 5%;
    border-bottom: 1px solid #595959;
}
.time-con ul li:last-child {
    border-bottom: none;
}
.time-con ul li span {
    padding-right: 12px;
    float: left;
    padding-top: 1px;
    height: 15px;
}
.match-time {
    width: 84%;
    float: left;
    padding: 9px 8%;
}
.pd-10 {
    margin-bottom: 12px;
}
.chaleng-time {
    width: 88%;
    border-top: 1px solid #595959;
    float: left;
    padding: 0px 7% 0px 5%;
}
.match-lt {
    width: 50%;
    float: left;
    height: auto;
}
.match-lt h3,
.match-rt h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-transform: capitalize;
    line-height: normal;
}
.match-rt {
    width: 50%;
    float: left;
    height: auto;
}
a.join {
    margin-top: 6px;
    background: #16a1e2;
    border-radius: 5px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    padding: 0px 3%;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}
.challeng-tp,
.challeng-bt {
    width: 100%;
    float: left;
    height: auto;
    padding-bottom: 1px;
}
.challeng-tp ul,
.challeng-bt ul,
.heading ul {
    float: left;
    margin: 0;
    padding: 0;
}
.challeng-tp ul li,
.heading ul li {
    display: inline;
    font-size: 13px;
    color: #cdcdcd;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: auto;
    line-height: 31px;
    padding-right: 9px;
}
.challeng-bt ul li {
    display: inline;
    font-size: 13px;
    color: #cdcdcd;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: auto;
    line-height: 31px;
    padding-right: 22px;
}
.challeng-tp ul li:last-child,
.challeng-bt ul li:last-child,
.heading ul li:last-child {
    padding-right: 0px;
}
.challeng-tp ul li span,
.heading ul li span {
    padding-right: 5px;
    padding-top: 0px;
}
.challeng-bt ul li span {
    padding-right: 7px;
    padding-top: 0px;
}
.challeng-lt h3 span {
    float: left;
    padding-top: -3px;
    padding-right: 7px;
}
.challeng-lt h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
    float: left;
}
.match-rt {
    width: 50%;
    float: left;
    height: auto;
}
.footer-con {
    width: 100%;
    float: left;
    height: auto;
    background: url(../img/bdr-bt.png) repeat-x top;
    margin-top: 18px;
}
.footer {
    width: 80%;
    float: left;
    height: auto;
    padding: 18px 10% 0px 10%;
}
.footer ul {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}
.footer ul li {
    display: inline;
    border-right: 1px solid #fff;
    padding-right: 2%;
    padding-left: 2%;
}
.footer ul li:last-child {
    padding-right: 0px;
    border-right: none;
}
.footer ul li:first-child {
    padding-left: 0px;
}
.footer ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
}
.footer-logo {
    width: 100%;
    float: left;
    height: auto;
    margin: 0 auto;
    padding-top: 38px;
    text-align: center;
    padding-bottom: 14px;
}
.footer-logo label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    vertical-align: top;
    padding-top: 6px;
    display: inline-block;
}
a.facebook {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 255, 255, 255);
    border-radius: 5px;
    height: 33px;
    width: 33px;
    display: inline-block;
    margin-left: 3%;
}
a.tweet {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 255, 255, 255);
    border-radius: 5px;
    height: 33px;
    width: 33px;
    display: inline-block;
    margin-left: 3%;
}
.scroll_custom {
    width: 100%;
    height: 476px;
    overflow: auto;
}
.trans_background {
    background: rgba(0, 0, 0, 0.5);
}